body{
  margin: 0;
  background-color: #061739;
  color: white;
  font-family: sans-serif, arial, monospace;
  min-width: 900px;
}
/*************
header & nav, footer
*************/
h1{

  padding-top: 40px;
}
header{
  margin-bottom: 35px;
  font-size: 2em;
  text-align: center;
}
header,
footer{
  background: #4E648E;
  height: 150px;

}
footer{
  clear: both;
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: thin #4E648E solid;
  border-bottom: thin #4E648E solid;
  margin-bottom: 10px;
  text-align: center;


}
nav a{
  display: inline-block;
  margin: 5px 30px;
  background-color: #4E648E;
  padding: 10px;

  border-radius: 15px;
  color: white;
  border:thin white solid;

}
nav a:hover{
  text-decoration: underline;
  cursor:pointer;
}
nav a:active{
  color: #061739;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;

}
nav a:visted{
  color:red ;

}
.top-name{
  margin-left: 0;
  border-bottom: thin #4E648E solid;
}

.footer-content{
  text-align: center;
  padding-top: 40px;
}
.menu-title{
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}
.menu-item{
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: #4E648E;
  border: thin white solid;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*********
home page description
*********/
#description{
margin-left:auto;
margin-right: auto;
display: block;
margin-bottom: 10%;
width: 400px;
font-size: 1.5em;
letter-spacing: .25px;
}

/*********
menu
*********/

main {
  text-align: center;
  background-color: #989898;
  color: white;
  padding-bottom: 25px;
}

/***********
Menu table
**********/

table{
  width: 70%;
  border: 1px white solid;
  text-align: left;
  margin: 25px auto;
  color: white;
  font-size: 1.25em;
  }
  th{
    background-color: #4E648E;
  }
tr:nth-child(even){
  background-color: #4E648E;
}
th,td{
  padding-top: 15px;
  padding-bottom:15px;
  margin-left:0;

}
/***********
form
**********/
.container{
  margin-left: auto;
  margin-right: auto;
}
form{
  font-size: 1.1em;
  text-align: center;

}

input[type="text"],
input[type="email"]
{
  width:25%;
  margin-bottom: 25px;
}
input[type="submit"]{
  background-color: #4E648E;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 1.1em;
  margin-bottom: 25px;
}
select,
input[type="textarea"],
input[type="radio"],
input[type="checkbox"]
{
  margin-bottom: 25px;

}
input[type="textarea"]{
  width: 400px;
  height:100px;
}
